body{
    background-color: #4287f5;
}

.divPrincipal{
    background-color:white;
    border-radius: 10px;
    padding: 10px;
   

}
/*#btnEX{
    color: #fff;
    background-color: #e23500;
    border-radius:10px;
}
#btnED{
    color: #fff;
    background-color: #4287f5;
    border-radius:10px;
}
*/
#cabecalho{
    background-color: #4287f5;
    padding-bottom: 20px;
    text-align: center;
    font-size: 60px;
    font-style:oblique;
    color:white;
}


